---
layout: default
title: Home
comments: true
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {% if post.image.teaser %}
          <img class="post-teaser" src="{{ post.image.teaser }}">
        {% endif %}
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }} &nbsp; <a href="{{ post.url }}#disqus_thread"></a></span>

    {{ post.excerpt }}
    <p><a href="{{ post.url }}">继续阅读 &hellip;</a></p>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Previous</a>
  {% else %}
    <span class="pagination-item older">Previous</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Next</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Next</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Next</span>
  {% endif %}
</div>

<!-- hitwebcounter Code START -->
<a href="http://www.hitwebcounter.com" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=6120372&style=0005&nbdigits=5&type=page&initCount=0" title="" Alt=""   border="0" >
</a><br/>
<!-- hitwebcounter.com -->
<!-- <a href="http://www.hitwebcounter.com" title="How Many People Visit" 
	target="_blank" style="font-family: Geneva, Arial, Helvetica, sans-serif; 
        font-size: 9px; color: #908C86; text-decoration: underline ;">
  <strong>How Many People Visit                                        </strong>
</a> -->
