.circular-profile {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(/public/img/me.jpg) no-repeat;
}

/*////////////////////*/
sup, sub {
  line-height: 0; /* do not interfere with text height */
}

.sidebar-about-avatar {
  margin: auto;
  width: 6.5rem; /* width of title */
}

@media (min-width: 96em) {
  .sidebar-about-avatar {
    margin: 0;
  }
}

.company_title{
	font-weight: 600;
	font-size: 25px;
	color: blue;
}
.company_time{
	font-weight: 200;
	font-size: 15px;
	color:grey;
}
#my-post-title{
	color: rgb(162,148,94);
}
