<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          <!-- <img class="sidebar-about-avatar" src="{{ site.avatar }}"> 隐藏头像-->
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">博客</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a> -->
    </nav>

    <!-- <nav class="sidebar-social">
      <ul class="navigation"> -->
          <!-- GitHub -->
          <!-- <li class="navigation-item">
            <a href="http://github.com/dashgeng" title="@dashgeng on GitHub" target="_blank">
              <i class='fi-social-github'></i>
              <span class="label">GitHub</span>
            </a>
          </li> -->
          <!-- Email -->
          <!-- <li class="navigation-item">
            <a href="mailto:dashgeng@qq.com" title="Email to dashgeng@qq.com">
              <i class='icon fi-mail'></i>
              <span class="label">Email</span>
            </a>
          </li> -->
      <!-- </ul> 
    </nav> -->
    <nav class="sidebar-social">
      <ul class="sidebar-links">
        <!-- icon url: https://www.iconfinder.com/iconsets/miu-black-social-2 -->
        <!-- <li><a href="/atom.xml"><img src="https://cdn4.iconfinder.com/data/icons/miu-black-social-2/60/rss-128.png" width="32" height="32"></a></li>
        <li><a href="https://github.com/dashgeng"><img src="https://cdn4.iconfinder.com/data/icons/miu-black-social-2/60/github-128.png" width="32" height="32"></a></li>
        <li><a href="mailto:dashgeng@qq.com"><img src="https://cdn4.iconfinder.com/data/icons/miu-black-social-2/60/mail-128.png" width="32" height="32"></a></li>
        -->
        <!-- icon url: https://www.iconfinder.com/iconsets/social-aquicons -->
        <!-- <li><a href="/atom.xml"><img src="https://cdn2.iconfinder.com/data/icons/social-aquiocons/128/Aquicon-RSS.png" width="32" height="32"></a></li> -->
        <li><a href="https://github.com/dashgeng"><img src="https://cdn2.iconfinder.com/data/icons/social-aquiocons/128/Aquicon-Github.png" width="32" height="32"></a></li>
        <li><a href="mailto:dashgeng@qq.com"><img src="https://cdn2.iconfinder.com/data/icons/social-aquicons/128/Email.png" width="32" height="32"></a></li>
      </ul>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
